{{ define "main" }}
  <p class="page-title">#{{ .Title | lower }}</p>
  <ul class="post-list">
    {{ range .Pages }}
    <li class="post-list-item">
      <div class="post-meta">
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
        <span>&middot;</span>
        <span>{{ .ReadingTime }} min read</span>
        {{ with .Params.tags }}<span>&middot;</span>{{ range . }}<span class="post-tag"><a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></span>{{ end }}{{ end }}
      </div>
      <div class="post-list-title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </div>
      {{ with (or .Description (.Summary | plainify | truncate 160)) }}<p class="post-summary">{{ . }}</p>{{ end }}
    </li>
    {{ end }}
  </ul>
{{ end }}
